Desafios/grupo2-Datastore/war/BuscadorService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://test.green/" xmlns:tns="http://test.green/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="BuscarPuntos" type="tns:BuscarPuntos"/>

  <xs:element name="BuscarPuntosResponse" type="tns:BuscarPuntosResponse"/>

  <xs:complexType name="BuscarPuntos">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="BuscarPuntosResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

